/* Shered style for the project */
body {
  font-family: "Work Sans", sans-serif;
}
/* header section styles */
.header {
  padding: 10px 100px;
}
/* navbar styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > ul {
  display: flex;
  align-items: center;
}
.nav ul > li {
  list-style: none;
  margin-right: 15px;
}
li > a {
  text-decoration: none;
  color: #424247;
}
.nav-menu {
  display: none;
}
.fa-bars {
  font-size: 30px;
}
/* banner section styles */
.banner {
  width: 100%;
  height: 500px;
  background-image: url("../Images/banner-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.banner-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-container {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px dotted blue;
}
.btn-container button {
  display: flex;
  justify-content: space-between;
  width: 8rem;
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #131318;
}
.banner-content h1 {
  color: white;
}
.banner-content p {
  color: white;
}
.find-now {
  background-color: #ff5400;
  color: white;
}
.btn-read {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
/* main section styles */
.main {
  padding: 10px 100px;
}
.popular-tours {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  gap: 20px;
}
.popular-tour-item {
  flex: 1;
}
.popular-tours-image img {
  width: 100%;
}
.popular-content-list li {
  margin-bottom: 10px;
}
/* Choose your destination start */
.destination-container {
  text-align: center;
  margin-bottom: 80px;
}
.destination-container .image-row {
  display: flex;
  gap: 20px;
}
.images-container {
  margin-top: 30px;
}
.image-row {
  margin-bottom: 20px;
}
.image-column {
  position: relative;
}
.image-column span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* Why choose us styles */
.why-choose-us .why-choose-content {
  text-align: center;
}
.why-choose-us .choose-options {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.choose-item {
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
}
.single-option {
  width: 532px;
  margin: 20px auto;
}
/* Responsive styles */
@media screen and (max-width: 600px) {
  .header {
    padding: 10px 20px;
  }
  .nav-items {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .btn-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .popular-tours {
    flex-direction: column;
  }
  .main {
    padding: 10px 20px;
  }
  .popular-tours {
    margin-top: 50px;
  }
  .destination-container .image-row {
    flex-direction: column;
  }
  .image-column img {
    width: 100%;
  }
  .why-choose-us .choose-options {
    flex-direction: column;
  }
  .single-option {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
